<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Nilo ~~~~</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/media/css/default.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/media/js/jquery.js"></script>
{% block scriptAdicional %}
{% endblock %}
</head>
<body>
<div id="header">
    <div id="logo">
        <h1><a href="/">N i l o</a></h1>
        {% if user.is_authenticated %}
        <h4><a href="/logout">Sair</a></h4>
        <h4><a href="/alterarSenha">Alterar a Senha</a></h4>
        {% endif %}
    </div>
</div>
<div id="content">
            {% block titulo %}
            {% endblock %}
            <br>
            <hr>
            <div class="story">
                <div style="text-align: center;">
                    {% block conteudo %}
                    {% endblock %}
                </div>
            </div>
    <div style="clear: both;">&nbsp;</div>
</div>
<div id="footer">
	<p>DESENVOLVIDO&nbsp;POR:&nbsp;Jo&atilde;o R. Mira,&nbsp;Katriny,&nbsp;Paulo V. Furlan,&nbsp;Sidnei Sartori,&nbsp;Yuri Z. Piratello</p>
</div>
</body>
</html>
